	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	 <style>			
		a {
			text-decoration: none;
		}		
		
		.list{
			border-type: solid;
		}
		
		header{
			margin-top:0px;
			text-align:right;
		}
		
		.sidenav {
			height: 100%; /* 100% Full-height */
			width: 0; /* 0 width - change this with JavaScript */
			position: fixed; /* Stay in place */
			z-index: 1; /* Stay on top */
			top: 0;
			left: 0;
			background-color: #111; /* Black*/
			overflow-x: hidden; /* Disable horizontal scroll */
			padding-top: 60px; /* Place content 60px from the top */
			transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
		}

		/* The navigation menu links */
		.sidenav a {
			padding: 8px 8px 8px 32px;
			text-decoration: none;
			font-size: 25px;
			color: #818181;
			display: block;
			transition: 0.3s
		}

		/* When you mouse over the navigation links, change their color */
		.sidenav a:hover, .offcanvas a:focus{
			color: #f1f1f1;
		}

		/* Position and style the close button (top right corner) */
		.sidenav .closebtn {
			position: absolute;
			top: 0;
			right: 25px;
			font-size: 36px;
			margin-left: 50px;
		}

		/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
		#main {
			transition: margin-left .5s;
			padding: 20px;
		}

		/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
		@media screen and (max-height: 450px) {
			.sidenav {padding-top: 15px;}
			.sidenav a {font-size: 18px;}
		}
		table {
			font-family: arial, sans-serif;
			border-collapse: collapse;
			width: 100%;
		}
		td, th {
			border: 1px solid #dddddd;
			text-align: left;
			padding: 8px;
		}

		tr:nth-child(even) {
			background-color: #dddddd;
		}
		
		articles{
			text-align: center
			font-family: arial, sans-serif
		}
		
		.permalink {
			color:#C0C0C0;
			text-align:right;
			font-size: 9px;
		}
		
		.deleteAction {
			color:#C0C0C0;
			text-align:left;
			font-size: 9px;
		}
		
		.dropdown {
			position: relative;
			display: inline-block;
		}
		
		.dropdown-content {
			display: none;
			position: absolute;
			background-color: #f1f1f1;
			min-width: 160px;
			overflow: auto;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			z-index: 1;
		}

		.dropdown-content a {
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
		}
		
		.articleMenuBtn {
			color: white;
			padding: 16px;
			font-size: 16px;
			border: none;
			cursor: pointer;
		}
		
		label, input { display:block; }
		input.text { margin-bottom:12px; width:95%; padding: .4em; }
		fieldset { padding:0; border:0; margin-top:25px; }
		.ui-dialog .ui-state-error { padding: .3em; }
		.show {display:block;}
	</style>
	<header>
	<% if(currentUser){ %>
		<% if("name" in currentUser){ %>
			<p>Welcome, <%=currentUser.name%><a href="/logout"><font color="red"> Logout</font></a></p>
		<% }else{ %>
			<p><a href="/register"><img src="./static/images/Register.png" width="100" height="30"></img></a><a href="/login"><img src="./static/images/Login.png" width="100" height="30"></img></a></p>
		<% } %>		
	<% }else{ %>
		<p>You have to <a href="/login">log in</a>!</p>
	<% } %>	
	</header>
	
<div id="mySidenav" class="sidenav">
  <button id="newSection">
	<img src="./static/images/addSection.png" width="30" height="30">
  </button>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <% sections.forEach(function(s){%>
	<a href="/articles/in/<%=s.name%>"><%=s.name%></a>
  <% }); %>  
</div>

<!-- Use any element to open the sidenav -->
<span onclick="openNav()"><img src="./static/images/openSidebar.png" width="30" height="30"> </span>
	
	<center>
		<a href="/">
		<img src="./static/images/dasguttitle.png" width="100" height="100">
		</a>
		<div id="newarticlebutton" class="articles">			
			<button id="newArticle">
			<img src="./static/images/addSection.png" width="50" height="50">
			</button>			
		</div>
		<% articles.forEach(function(post){ %>
			<div id="post_<%=post.title%>">
				<div id="articles" class="articles">
					<h3>
						<a href="/article/<%=post.title%>"><%=post.title%></a>
						<div class="dropdown">
							<button class="articleMenuBtn" onClick="showMenuOptions('myDropdown<%=post.title%>')">
								<img src="./static/images/articleMenu.png" width="9" height="15">
							</button>
							<div id="myDropdown<%=post.title%>" class="dropdown-content">
								<a href="#edit">Edit</a>
								<a href="/deleteArticle/<%=post.title%>">Delete</a>
							</div>
						</div>
					</h3>
					<%-post.body%>					
				</div>	
				<div id="permalink" class="permalink">
					<a class="permalink" href="/article/<%=post.title%>"> <i>View</i> </a>
				</div>
				<hr/>
			</div>
		<%});%>		
	</center>
  
<script>
	/* Set the width of the side navigation to 250px */
	function openNav() {
		document.getElementById("mySidenav").style.width = "15%";
		document.getElementById("mySidenav").style.height = "90%";
	}

	/* Set the width of the side navigation to 0 */
	function closeNav() {
		document.getElementById("mySidenav").style.width = "0";
	}

	/*Opening menu options for the article with the corresponding menu button.*/
	function showMenuOptions(id){
		console.log("Direct Call " + id);
		document.getElementById(id).classList.toggle("show");
	};

</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>
$( function() {

	var dialog, form, newSectionName="";	
	var socket = io();
	var $sideNav = $("#mySidenav");
	var $articles = $("#articles");
	
	
	socket.on('addingNewSection', function(section) {
		console.log("New Section added");
		$sideNav.append("<a href=/articles/in/"+section+">"+section+"</a>");
	});
	
	socket.on('newArticle',function(post) {
		$articles.prepend("<div id='post_'" + post.title +">"
		+"<div id='articles' class='articles'>"
		+"<h3><a href='/article/"+post.title+"'>"+post.title+"</a>"
		+"<div class='dropdown'>"
		+"<button class='articleMenuBtn' onClick=\"showMenuOptions('myDropdown"+post.title+"')\"><img src='./static/images/articleMenu.png' width='9' height='15'></button>"
		+"<div id='myDropdown"+post.title+"' class='dropdown-content'><a href='#edit'>Edit</a> <a href='/deleteArticle/"+post.title+"'>Delete</a></div>"
		+"</div></h3>"+post.body+"</div>"
		+"<div id='permalink' class='permalink'><a class='permalink' href='/article/"+post.title+"'> <i>View</i> </a></div><hr/></div>");
	});
	
	socket.on("deleteArticle", function(postTitle){
		console.log("Remove this article: "+postTitle);
		var blockToBeRemoved = document.getElementById("post_"+postTitle);
		blockToBeRemoved.parentNode.removeChild(blockToBeRemoved);
	});
	
	var newArticleDialog = $( "#article-dialog-form" ).dialog({
      autoOpen: false,
      height: 400,
      width: 350,
      modal: true,
      buttons: {
        "OK": addArticle,
        Cancel: function() {
          $(this).dialog("close");
        }
      },
      close: function() {
        $(this).dialog("close");
      }
    });
	
	var newSectionDialog = $( "#dialog-form" ).dialog({
      autoOpen: false,
      height: 400,
      width: 350,
      modal: true,
      buttons: {
        "OK": addSection,
        "Cancel": function() {
          $(this).dialog("close");
        }
      },
      close: function() {
       $(this).dialog("close");
      }
    });
 
    $( "#newSection" ).button().on( "click", function() {
      newSectionDialog.dialog( "open" );
    });
	
	
	$( "#newArticle" ).button().on( "click", function() {
		newArticleDialog.dialog( "open" );
	});
	
	function addSection() {	
		var $form = $( "#newSectionForm" )
		var url = $form.attr( "action" );
		console.log(url);
		newSectionName = $form.find("input[name='name']").val();
		console.log(newSectionName);
		var descriptionVal = $form.find("textarea[name='description']").val();
		console.log(descriptionVal);
		var creatorVal = $form.find("input[name='creator']").val();
		console.log(creatorVal);
		
		
		var posting = $.post( url, { name:newSectionName, description:descriptionVal, creator:creatorVal } );
		
        newSectionDialog.dialog("close");
    }
	
	function addArticle() {
		var $form = $( "#newArticleForm" );
		
		var url = $form.attr( "action" );
		console.log(url);
		var title = $form.find("input[name='title']").val();
		console.log(title);
		var bodyVal = $form.find("textarea[name='body']").val();
		console.log(bodyVal);
		var sectionsListVal = $form.find("input[name='sections']").val();
		console.log(sectionsListVal);
		var authorVal = $form.find("input[name='author']").val();
		console.log(authorVal);		
		
		var posting = $.post( url, { title:title, body:bodyVal, sections:sectionsListVal, author:authorVal } );
		
        newArticleDialog.dialog( "close" );
    }
});
</script>

<div id="dialog-form" title="Add New Section">
 
  <form method="POST" action="/newSection" id="newSectionForm">
    <fieldset>	
	<% if("name" in currentUser){ %>
      <label for="name">Section Name</label>
      <input type="text" name="name" id="name" value="" class="text ui-widget-content ui-corner-all"/>
	  <br/>
      <label for="description">Description</label>
      <textarea name="description" id="description" value="" class="text ui-widget-content ui-corner-all"/>
	  </textarea>
      
      <input type="hidden" name="creator" id="creator" value="<%=currentUser._id%>" class="text ui-widget-content ui-corner-all"/>
 
      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
	  
	<% }else{ %>
      <h3>A user needs to be signed in</h3>
	  <table>
	  <tr>
	  <td><a href="/login">Login</a></td>
	  <td><a href="/register">Register</a></td>
	  </tr>
	  </table>
	<% } %>
    </fieldset>
  </form>
</div>

<div id="article-dialog-form" title="Add New Article"> 
  <form method="POST" action="/newArticle" id="newArticleForm">
    <fieldset>	
	<% if("name" in currentUser){ %>
      <label for="title">Title</label>
      <input type="text" name="title" id="title" value="" class="text ui-widget-content ui-corner-all"/>
	  <br/>
      <label for="body">Body</label>
      <textarea name="body" id="body" value="" class="text ui-widget-content ui-corner-all"/>
	  </textarea>
	  <br/>
	  <input type="text" name="sections" id="sections" value="" hint="List the sections(comma-separated) the article would be under." class="text ui-widget-content ui-corner-all"/>
	  
      <input type="hidden" name="author" id="author" value="<%=currentUser._id%>" class="text ui-widget-content ui-corner-all"/>
 
      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
	  
	<% }else{ %>
      <h3>A user needs to be signed in</h3>
	  <table>
	  <tr>
	  <td><a href="/login">Login</a></td>
	  <td><a href="/register">Register</a></td>
	  </tr>
	  </table>
	<% } %>
    </fieldset>
  </form>
</div>